-if current_user
  =form_tag do |f|
    .row
      .span6.uid=text_field_tag :uid
      .span2=submit_tag "Submit",:class=>"btn primary"

  :javascript

    var data = {items: #{@friends.to_json}};
    $(".uid input").autoSuggest(data.items, {
    asHtmlID: "uid", 
    selectedItemProp: "name", 
    searchObjProps: "name", 
    selectionLimit: 1,

    });
-else
  &nbsp;
